#title{
    background-color: #0F0E0E;
    padding: 2% 10%;
    color: #fff;
    
}
body{
    background-color: #2D4059;
    
}
h1{
    font-size: 4rem;
    font-family: sans-serif;
    color: #14C38E;
}

.main{
    padding: 9% 5%;
}
.nav-item{
padding: 10px;

}
.nav-link{
    color: #FA7D09;
    font-size: 1.2rem;
}
.navbar-brand{
    color:#FA7D09;
    font-size: 2rem;
    margin-left: 20px;
}
h2{
    font-size: 3.5rem;
    font-family:'Courier New', Courier, monospace;
    color: aqua;
}
.main-img{
    margin:6% 22%;
}

/* ================ */
#about{
    text-align: center;
    color: aliceblue;
    padding: 5% 10%;
    line-height: 1.5;
    font-size: 1.5rem;
}
.name{
    color: #FA7D09;
    font-family:Arial, Helvetica, sans-serif
}
#skill{
    text-align: center;
    background-color: #0F0E0E;
    padding: 4% 8%;
    color: aliceblue;
    
    
}
hr{
    width: 15%;
    margin: 0 auto;
    color: azure;
    
    
}
.skill-img{
    margin: 10%;
    padding: 10%;
    filter: invert(100%);
    height: 80%;
    width: 62%;
    
}
#project{
    text-align: center;
    margin: 5% 0;
}
.card{
    width: 55%;
    margin: 5% auto;
    text-align: center;
    padding:6%;
    filter: invert(100%);
    border-radius: 18px;
    margin-top: 5%;
}
.card-sm{
    background-color: yellow;
    color: #0F0E0E;
    border-radius: 100%;
}
.pro-img{
     height: 50%;
    width: 100%;
} 
.vcard{
    background-color: #0F0E0E;
    color: aliceblue;
    border-radius: 10px;
    text-align: left;
    padding: 2% 3% 7%;
    margin: 0 auto;
    width: 27%;
}



/* #contact{
    text-align: center;
    width: 40%;
    margin: 0 auto;
    background-color: #0F0E0E;
} */
#footer{
    background-color: #0F0E0E;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
.link-icon{
    filter: invert(100%);
    margin: 10px;
    width: 36px;
    height: 36px;

}
a:hover{
    color: aqua;
   
}